$primary-color: rgb(37, 37, 87);


.contact-wrapper{
    height: 100vh;

    h1{
        margin-bottom: 30px;
        color: white;
        background-color: $primary-color;
        
    }

    img{
        margin-bottom: 30px;
        margin-right: 20px;
        width: 70px;
        height: 70px;
    }

     .contact-message{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $primary-color;

        input{
            margin: 10px;
            width: 50vw;
            height: 30px;
        }

        textarea{
            margin: 10px;
            width: 50vw;
            height: 130px;

        }

        button{
            
        }

     }
}