$primary-color: rgb(37, 37, 87);

@media  (min-width: 401px){

    .contact-wrapper{
      

        .contact-link{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content:space-evenly;
            height: 70vh;
            
            

            a{
                
                width: 200px;
                

                img{
                    width: 90%;
                    height: 90%;
                }

            }

           
        }
    }
    
}


@media (max-width : 400px){

    #inp{
        display: flex;
        flex-direction: row;
    }
    
.contact-wrapper{
    display: flex;
    flex-direction: column;
    height: auto;

    .contact-link{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    h1{
        margin-bottom: 30px;
        color: white;
        background-color: $primary-color;
        
    }

    img{
        margin-bottom: 30px;
        margin-right: 20px;
        width: 70px;
        height: 70px;
    }

     .contact-message{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $primary-color;

        input{
            margin: 10px;
            width: 50vw;
            height: 30px;
        }

        textarea{
            margin: 10px;
            width: 50vw;
            height: 130px;

        }

        button{
            margin-bottom: 20px;
            width: 70px;
            height: 45px;
            transition: 0.7s;
        }

        button:hover{
            color:white;
            background-color: $primary-color;
            border: 1px solid white;
        }

     }
}

}