@media  (min-width: 401px){
    .footer-wrapper{
    
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-image: url('/img/footer.jpg');
        background-position: center;
        background-repeat: none;
    
    }
    
    ul {
        
        list-style: none;
        
        li{
            
            
            a{
                font-size: 30px;
                color:white;
                text-decoration: none;
            }
        }
    }
    
    }





@media (max-width : 400px){

.footer-wrapper{
    
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url('/img/footer.jpg');
    background-position: center;
    background-repeat: none;

}

ul {
    
    list-style: none;
    
    li{
        
        
        a{
            color:white;
            text-decoration: none;
        }
    }
}

}