@media (max-width : 360px){

.nav-wrapper{
    background-color: red;
    display: flex;
    flex-direction: column;

    .nav-logo{
        width: 30px;
        height: 30px;
    }

    .nav-menu{
        
    }
}


}