$primary-color: rgb(43, 43, 158);
$gradient : linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

@media (min-width : 401px){

    .nav-wrapper{
        
        position:fixed;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: auto;

       
    
    .nav-logo{
        display: flex;
        flex-direction: row;
        flex-basis: 100vw;
        flex-wrap: nowrap;
        height: 65px;
        background-color: $primary-color;
        color: white;

        h1{
            font-size: 30px;
            margin-left: 20px;
            padding-top: 10px;
        }

      
        img{
            width: 70px;
            height: 60px;
        }
        
    }

    .nav-menu{
        display: flex;
        flex-direction: row;
        flex-basis: 100vw;
        padding-right: 30px;
        padding-top: 10px;
        justify-content: flex-end;
        background-color: $primary-color;
        height: 65px;
       



        ul{
            display: flex;
            list-style-type: none;
            letter-spacing: 5px;

            li{
                margin-right: 10px;
                font-size: 30px;
               
                
                a{
                    color:white;
                    font-size: 30px;
                    text-decoration: none;
                    transition: 0.6s;
                }
            }
        }

        
        .nav-menu-list li a:hover{
            
            color: white;
            border-bottom: 1px solid white;
            font-size: 35px;
            
        }
    }


    }
}


    

@media (max-width : 400px){

.nav-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    h1{
        font-size: 40px;
    }

    .nav-logo{
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
        flex-wrap: wrap;
        margin:  10px;

        p{
            font-size: 15px;
        }
    }

    .nav-logo-img{
        width: 60px;
        height: 60px;
    }

    .nav-menu{

        background-color: $primary-color;
        color:white;
        width: 100vw;
        text-align: center;

        .nav-menu-list li a{
            color: white;
            text-decoration: none;
            font-size: 30px;
            transition: 0.5s;
        }


    }

    
        .nav-menu-list li a:hover{
            color: white;
            border-bottom: 1px solid white;
            font-size: 35px;
        }
    }
}


