@media (max-width : 360px){

.nav-wrapper{
    display: flex;
    flex-direction: column;
    background-color:white;

    h1{
        font-size: 40px;
    }

    .nav-logo-img{
        width: 50px;
        height: 50px;
    }

    .nav-menu{

        background-color: rgb(38, 38, 58);
        color:white;

        .nav-menu-list li a{
            color: white;
            text-decoration: none;
            font-size: 30px;
            transition: 0.5s;
        }


    }

    
        .nav-menu-list li a:hover{
            color: white;
            border: 1px solid white;
            font-size: 35px;
        }
    }
}


