@media(max-width : 400px){

.news-wrapper{
    color:white;
    background-color: rgb(37, 37, 87);


    .news-info{
        text-align: center;
        padding-top: 20px;
    }
    a{
        display: inline-block;
        width: 100px;
        margin: 10px;
        text-align: center;
        color: white;
        font-size: 30px;
        border: 1px solid white;
        text-decoration: none;
        transition: 0.5s;
        
    }

    a:hover{
        width: 110px;
    }
}

}