@media(max-width : 400px){

.news-wrapper{
    color:white;
    background-color: rgb(37, 37, 87);


    .news-info{
        text-align: center;
    }
    a{
        margin: 10px;
        text-align: center;
        color: white;
        font-size: 30px;
        border: 1px solid white;
        text-decoration: none;
        padding: 10px;
    }
}

}