
$gradient : linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

@media (min-width : 401px){

    .trips-wrapper{

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

}

.trips-card{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    h1{
        text-transform: capitalize;
        text-decoration: underline;
    }
    

    img{
        height: 600px;
        width: 600px;
    }
    
}

.trip-info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: center;

    button{
        background : orange;
        color: white;
        border: none;
        margin-top: 10px;
        font-size: 30px;
        width: 50px;
        transition: 0.5s ease;
    }

    button:hover{
        background: yellow;
    }
}

}

@media (max-width : 400px){

.trips-wrapper{

    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    h1{
        color: white;
    }

    .trips-card{
        
        
        border: 1px solid black;



        
        h1{
            
            text-transform: uppercase;

        }

        .trip-info{
            margin-bottom: 10px;
            color:white;
            background-color: rgb(37, 37, 87);
            
            img{
                height: 50vh;
                width: 100vw;
            }

            p{
                font-size: 20px;
                
            }

            button {
                font-size: 20px;
                width: 100px;
                height: 40px;
                margin-left:38vw;
                background-color: rgb(37, 37, 87);
                border:1px solid white;
                color:white;
                margin-bottom: 30px;
                
            }

            
        .trips-btn{
           
            width: 100px;
            height: 30px;
        }

        }
    }
}

}