@media (max-width : 400px){

.trips-wrapper{

    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    h1{
        color: white;
    }

    .trips-card{
        
        
        border: 1px solid black;



        
        h1{
            
            text-transform: uppercase;

        }

        .trip-info{
            margin-bottom: 10px;
            color:white;
            background-color: rgb(37, 37, 87);
            
            img{
                height: 50vh;
                width: 100vw;
            }

            p{
                font-size: 20px;
                
            }

            button {
                font-size: 20px;
                width: 100px;
                height: 40px;
                margin-left:38vw;
                background-color: rgb(37, 37, 87);
                border:1px solid white;
                color:white;
                margin-bottom: 30px;
                
            }

            
        .trips-btn{
           
            width: 100px;
            height: 30px;
        }

        }
    }
}

}