.trips-wrapper{

    img{
        height: 50vh;
    }

    h1{
        color: white;
    }

    .trips-card{
        
        border: 1px solid black;
        
        h1{
            
            text-transform: uppercase;

        }

        .trip-info{
            color:white;
            background-color: rgb(37, 37, 87);
            border-bottom: 2px solid green;

            p{
                font-size: 20px;
            }
        }
    }
}