

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;

}

h1{
  text-align: center;
}

p{
  text-align: center;
}

.trips-wrapper{
 

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


}

